<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<style>
  h1 { 
    color: white;
    text-align: center;
    font-family: Georgia, Garamond, Serif;
  }
  article {
    background-color: #174040;
    padding: 1em;
    border-style: solid;
    border-radius: 20px;
    margin: auto;
    display: block;
    width: 300px;
    height: 350px;
  }
  textinput {
    font-size: 40px;
    width: 200px;
    height: 150px;
    color: black;
    margin:auto;
  }

</style>

<article class="center-page">

  <h1>Input</h1>
  <input type="text" name="textinput" placeholder="Questionably Prime Number" style="textinput">
  <h1>Your Answer</h1>
  <input type="text" name="textinput" placeholder="Is it Prime?"style= "textinput">
  
</article>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}