<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<style>
  h1 { 
    color: white;
    text-align: center;
    font-family: Georgia, Garamond, Serif;
  }
  article {
    background-color: #174040;
    padding: 1em;
    border-style: solid;
    border-radius: 20px;
    margin: auto;
    display: block;
    width: 300px;
    height: 350px;
  }

  text-input {
    font-size: 40px;
    width: 200px;
    height: 150px;
    color: black;
    margin:auto;
  }

  
  .submit-btn {
    background-color: #2A6977;
    border: none;
    color: white;
    padding: 9px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .error {
    color: white;
  }

</style>

<article class="center-page">

  <h1>Input</h1>
  <form action="/init" method="POST">

    <input type="text" name="number" placeholder="Questionably Prime Number"style="text-input"id = "number"><br><br>
    <div class="absolute">
        <input class="submit-btn" type="submit" value="Submit">
    </div>
  </form> 
  {{ if .ErrorTitle}}
  <div class="error">
    {{.ErrorTitle}}: {{.ErrorMessage}}
    </div>
  {{end}}
</article>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}